.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 2rem;
}

.header-logo {
  padding-left: 2rem;
  height: 40px;  /* adjust size as needed */
  margin-right: 1rem;
}

.header {
  padding-left: 2rem;
  color: #13274F;
  margin: 0;  /* remove margin since it's handled by container */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.controls {
  padding: 2rem 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin: 0;
  margin-right: 300px;
  margin-bottom: 1rem;
}

.controls select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.controls label {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.chart-container {
  padding: 2rem;
  margin: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: calc(100% - 4rem);
  margin: 0 2rem;
}
